@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    scroll-behavior: smooth;
}

body{
    background: #000712;
    color: white;
    /*background: #181A2D;*/
    /*color: #9A98A8;*/
}

.header{
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    display: flex;
    padding: 30px 10%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #000712;
    height: 40px;
    opacity: 0.9;
}
.nav_bar{
    position: absolute;
    right: 130px;
    top: 10px;
}
.nav_bar li{
    display: inline-block;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
}
.nav_bar a{
    text-decoration: none;
    color: #FF014F;
    font-size: 18px;
}

.nav_bar a:hover{
    color: #9A98A8;
}

main {
    padding: 30px 0 0;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10% 0;
    color: #9A98A8;
}
.home-container{
    /* position: relative;*/
    left: 10%;
    top: 8%;
}
.headings{
    position: absolute;
    top: 10%;
    left: 22%;
    text-align: right;

  /*  animation-name: heading-anima;
    animation-iteration-count: 1;
    animation-duration: 1.2s;
    animation-fill-mode: both;
    animation-timing-function: linear;*/
}
@keyframes heading-anima {
    0% {
        left: 0;
    }

    100% {
        left: 22%;
    }
}
.headings h1{
    font-size: 50px;
    font-family: Quicksand, sans-serif;
}
.headings h1 span{
    font-size: 50px;
    font-family: Quicksand, sans-serif;
    color: #FF014F;
}
.home-image{
    width: 300px;
    height: 370px;
    background: #202337;
    border-radius: 20px;
    transition: .5s;
    box-shadow: black 2px 2px 10px;
}
.home-image img{
    top: 0%;
    height: 100%;
    width: 100%;
    position: relative;
    /*width: 340px;
    height: 350px;*/
    /*border-radius: 50%;*/
}
.home-image:hover{
    transform: scale(1.1);
    background: #1B1D30;
}
.shadow-border{
    position: absolute;
    top: 26%;
    left: 40%;
    width: 300px;
    height: 370px;
    border: 2px solid #202337;
    border-radius: 20px;
}
.home-container p{
    position: absolute;
    left: 22%;
    top: 40%;
    width: 200px;
    padding: 10px;
    text-align: right;
}
.status{
    position: absolute;
    top: 60%;
    left: 63%;
    width: 350px;
    overflow: hidden;
    /*display: flex;*/
}
.status-container{
    /*width: 500px;*/
    overflow: hidden;
}
.status .text{
    position: relative;
    color: #8C6FFF;
    font-size: 30px;
    font-family: Quicksand;
}
.status .text.first-text{
    color: white;
}
.status .text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000712;
    border-left: 4px solid #8C6FFF;
    animation: status-anima 4s steps(12) infinite;
}
@keyframes status-anima {
    40%, 60%{
        left: calc(100% + 4px);
    }
    100%{
        left: 0%;
    }
}
/*.status h3 span{
    color: #8C6FFF;
    font-family: Quicksand, sans-serif;
    white-space: nowrap;
    font-size: 40px;
    margin: 0;
}*/
.line {
    border: 2px solid #8C6FFF;
    border-radius: 10px;
    position: relative;
    top: 60%;
    width: 30%;
    margin: 5px 0 0;
}
.social-media{
    padding: 3% 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #FF014F;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    transition: 1s;
}

.social-media a:hover{
    box-shadow: 0 0 20px #FF014F;
    transform: translateY(-5px);
}

.up-arrow{
    font-size: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin: auto;
}
.shadow-topic {
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    top: 25px;
}
.shadow-topic h1{
    color:  #000712;
    font-size: 100px;
    font-weight: 1000;
    text-shadow: 2px 2px 25px black;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}
.topic-section{
    /*text-align: center;*/
    /*position: absolute;*/
    display: flex;
    align-items: center;
    justify-content: center;
}
h3{
    font-size: 45px;
    font-weight: 750;
    margin: 50px 0;
    font-family: Quicksand, sans-serif;
    color: white;
    position: absolute;
}
h3 span{
    color: #FF014F;
    font-family: Quicksand, sans-serif;
}


/*=============================================================about===============================================*/
.about{
    /*position: relative;*/
    width: 100%;
    /*padding: 50px 10%;*/
}

.details{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;
}

.article{
    width: 100%;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 25px;
    margin-right: 25px;
    transition: all 2s;
}
.hero-image-container{
    position: relative;
}
.about-image{
    background-size: 400px;
    width: 340px;
    height: 350px;
    margin-bottom: 69px;
    border-radius: 50%;
    position: relative;
    background-color: #FF014F;
    box-shadow: #FF014F 0 0 10px;
}
.about-image img{
    position: relative;
    /*width: 400px;*/
    z-index: 10;
    width: 340px;
    height: 350px;
    border-radius: 50%;
}
/*

.rotate-text {
    position: absolute;
    top: 4%;
    !* left: -53px; *!
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2rem;
}

.rotate-text span{
    position: relative;
    width: 400px;
    height: 400px;
    background: red;
    border: 6px solid wheat;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.rotate-text span::before{
    content: "";
    position: absolute;
    inset: 20px;
    background: #FF014F;
    border-radius: 50%;
    z-index: 1;
}
.rotate-text span i{
    position: absolute;
    inset: 0;
    background: -webkit-linear-gradient(90deg, hsla(94, 100%, 70%, 1) 0%, hsla(0, 100%, 77%, 1) 100%);
    filter: blur(5px);
    animation: animate 2s linear infinite;
}
@keyframes animate {
    0%{
        transform: rotate(0deg);
    }100%{
        transform: rotate(360deg);
         }
}
.rotate-text .text{
    position: absolute;
    width: 450px;
    height: 450px;
    background: white;
    border-radius: 50%;
}
.text b{
    position: absolute;
    transform-origin: 0 247px;
    display: block;
    top: 0;
    left: 50%;
}
*/

.about-description{
    width: 667px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.about-description h2{
    font-weight: 600;
    font-size: 40px;
    /* line-height: 52px; */
    margin-top: 0;
    margin-bottom: 8px;
    text-align: center;
}
.about-details-heading{
    position: relative;
    color: white;
    width: 600px;
    overflow: hidden;
}
.about-details-heading span:before{
    content: "";
    position: absolute;
    /*top: 0;*/
    left: 10%;
    height: 100%;
    width: 100%;
    background-color: #000712;
    border-left: 4px solid white;
    animation: about-detail-anima 4s steps(12) infinite;
}

@keyframes about-detail-anima {
    40%, 60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}
.about-description p{
    font-size: 16px;
    font-family: poppins, sans-serif;
    color: #9A98A8;
    margin-top: 2px;
    text-align: justify;
}
.about-description p:last-of-type{
    margin-bottom: 20px;
}
.about-description button{
    position: relative;
    color: white;
    text-align: left;
    font-weight: 500;
    top: 3px;
    border: 2px solid #FF014F;
    border-radius: 25px;
    background-color:transparent;
    width: 150px;
    /* left: 3px; */
    height: 47px;
    margin-top: 3px;
    margin-bottom: 80px;
    transition: all .6s;
    box-shadow: black 2px 2px 10px;
    padding-left: 15px;
    padding-right: 5px;
}
.about-description button:hover{
    transform: scale(1.1);
    background: #FF014F;
}
.journey{
    /*height: 100vh;*/
    position: relative;
    padding: 50px 10% 0;
}
.journey-topic{
    position: absolute;
    left: 80px;
    font-weight: 600;
    font-size: 32px;
}
.journey-container-box{
}
.journey-container{
    /*height: 80%;*/
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 80px 10%;
}
.journey-container div{
    height:100px/* calc(100%/4)*/;
    width: 100%;
    border: 2px solid #353250;
    padding: 2%;
    box-shadow: black 0 0 20px;
    transition: 2s;
    border-radius: 25px;
}
.journey-container div:hover{
    transform: scale(0.97);
}
.journey-container div h5{
    color: #FF014F;
    font-size: 16px;
}
.journey-container div p{
    font-size: 18px;
}
.skills-topic{
    font-weight: 600;
    font-size: 32px;
    padding: 20px 0;
    /*position: absolute;*/
    left: 80px;
}
.skills-sub-topic{
    font-size: 20px;
    color: #9A98A8;
}
.skills-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.languages div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.languages div:nth-child(2){
    /*position: relative;
    left: 20px;
    top: 90%;*/
    padding: 40px;
    gap: 25px;
    /*height: 300px;
    width: 90%;*/
    /*gap: 20px;
    display: flex;
    align-items: center;
    justify-content: center;*/
}
.languages div:nth-child(2) img{
    height: 80px;
    width: 80px;
    margin: 20px 15px;
    transition: 1s;
    border: 1px solid #353250;
    border-radius: 25px;
    padding: 10px;
}
.languages div:nth-child(2) img:hover {
    transform: scale(1.1);
    box-shadow: #353250 2px 2px 5px;
}
.tools div:first-child{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.tools div:nth-child(2){
    padding: 40px;
    gap: 25px;
}
.tools div:nth-child(2) img{
    height: 80px;
    width: 80px;
    margin: 20px 15px;
    transition: 1s;
    border: 1px solid #353250;
    border-radius: 25px;
    padding: 10px;
}
/*====================================================services===========================================*/
/*
.services{

}
.services-list{
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.service-card{
    margin: 20px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.face-front,
.face-back{
    width: 300px;
    min-height: 300px;
    height: auto;
    background-color: #181A2D;
    text-align: center;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: 0.7s cubic-bezier(0.4,0.2,0.2,1);
    border: 2px solid #202337;
    border-radius: 50px;
}
.face-front{
    transform: rotateY(0deg);
}
.face-back{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}
.face-front::after,
.face-back::after{
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    color: white;
    top: 0;
    left: 0;

}
.face-front .content-wrap,
.face-back .content-wrap{
    width: 100%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    z-index: 2;
}
.content-wrap i{
    font-size: 50px;
}
.content-wrap h4{
    margin-top: 8px;
    color: white;
    font-size: 24px;
    line-height: 40px;
}
.content-wrap p{
    color: white;
    line-height: 28px;
    font-size: 16px;
}
.service-card:hover .face-front{
    transform: rotateY(-180deg);
}
.service-card:hover .face-back{
    transform: rotateY(0deg);
    background-color: #FF014F;
}
*/
.services{
    padding: 60px 10%;
    width: 100%;
    position: relative;
    background: url(images/bg5.jpg);
    background-size: cover;
    background-position: center;
}

.service-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    padding: 40px;
}

.service-card{
    border: 2px solid #9A98A8;
    position: relative;
    border-radius: 25px;
    background: transparent;
    padding: 40px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
    text-align: center;

}

.service-card:hover{
    transform: translateY(-10px);
    border: 2px solid #FF014F;
}

.service-card h4{
    color: #9A98A8;
    font-size: 24px;
}
.service-card p{
    color: #9A98A8;
}

.service-card i{
    font-size: 50px;
    width: 80px;
    height: auto;
    border-radius: 50%;
    /*border: 2px solid #FF014F;*/
    padding: 10px;
    background: #FF014F;
}
.service-card:hover i{
    box-shadow: #FF014F 0 0 10px;
}


/*======================================================projects===============================================*/
.projects{
    position: relative;
}
.project-list{
    margin: 0;
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.project-card{
    margin: 20px;
    position: relative;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.face-front,
.face-back{
    width: 300px;
    min-height: 300px;
    height: auto;
    background-color: #1B1D30;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: 0.7s cubic-bezier(0.4,0.2,0.2,1);
    /*border-radius: 30px;*/
}
.face-front{
    transform: rotateY(0deg);
    border: 1px solid #353250;
}
.face-back{
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    border: 2px solid #000712;
}
.face-front::after,
.face-back::after{
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    color: white;
    top: 0;
    left: 0;

}
.face-front .content-wrap,
.face-back .content-wrap{
    width: 100%;
    padding: 50px ;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.content-wrap img{
    height: 200px;
    width: 200px;
    /*border-radius: 30px;*/
    border: 1px solid #353250;
    padding: 10px;
}

.content-wrap h4{
    margin-top: 8px;
    color: white;
    text-align: center;
}

.content-wrap p{
    color: white;
    font-size: 14px;
    text-align: center;
}
.content-wrap a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 2px solid white;
    margin: 8%;
    font-size: 30px;
    text-decoration: none;
}
.project-card:hover .face-front{
    transform: rotateY(-180deg);
}
.project-card:hover .face-back{
    transform: rotateY(0deg);
    background-color: #FF014F;
}
.more-arrow{
    right: 80px;
    bottom: 0px;
    margin: auto;
    position: absolute;
    font-size: 40px;
}
/*=======================================================assignment=============================================*/
.assignments{
    padding: 60px 10%;
    position: relative;
}

.assignments a{
    right: 100px;
    bottom: 0px;
    margin: auto;
    position: absolute;
    font-size: 40px;
}
.assignment-container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}
.assignment-card{
    width: 100%;
    /*height: 250px;*/
    border: 1px solid #353250;
    /*margin: 2px;*/
    padding: 40px;

}

.assignment-container .assignment-card{
    position: relative;
    box-shadow: 0 0 1rem black;
    overflow: hidden;
    display: flex;
    border-radius: 25px;
}

.assignment-card img{
    width: 100%;
    /*height: 180px;*/
    transition: 5s ease;
    border-radius: 25px;

}
.assignment-card:hover img{
    transform: scale(1.1);
}

.assignment-card .assigment-layer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000712;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -ms-flex-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
    opacity: 0.8;
}
.assignment-card:hover .assigment-layer{
    transform: translateY(0);
}

.assigment-layer h4{
    font-size: 1.5rem;
    opacity: 2;
}

.assigment-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 2px solid white;
    margin: 8%;
    font-size: 30px;
    text-decoration: none;
}


/*==========================================================gallery===============================================*/
.gallery{
    position: relative;
    padding: 20px;
}

.gallery-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 60px 10%;
}

.column{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    width: 100%;
}

.column img{
    border: 2px solid transparent;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
    border-radius: 10px;
    transition: 1s;
}

.column img:hover{
    transform: scale(1.1);
}

/*=========================================================contact==================================================*/
.contact{
    position: relative;
}
.contact{
    padding: 50px 2%;
}
.contact-container{
    /*width: 100%;*/
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
}
.detail-container{
    /*width: 50%;*/
    background-color: #1B1D30;
    gap: 30px;
    border-radius: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.detail-container div{
    display: flex;
    flex-direction: initial;
    align-items: center;
    justify-content: center;
    gap: 30px;

}
.detail-container div img{
    width: 40px;
    height: 40px;
}
.contact-form{
    /*width: 300px;*/
    padding: 10px;
}
.contact-form form input, form textarea {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 25px;
    background: #1B1D30;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    border-style: none;
    position: relative;
}
.contact-form form button{
    border: 2px solid #FF014F;
    border-radius: 25px;
    background: transparent;
    width: 150px;
    height: 10%;
    position: relative;
    font-size: 18px;
    color: white;
    padding: 10px;
}

/*=================================================footer==========================================================*/
footer{
    text-align: center;
    font-weight: bold;
    background: #1B1D30;
    padding: 10px 0;
    opacity: 0.5;
}

footer span{
    color: #FF014F;
}

@media (max-width: 1440px){

}

@media (max-width: 1024px){
    .shadow-border {
        top: 20%;
        left: 37%;
    }
    .headings {
        top: 5%;
        left: 16%;
    }
    .home-container p {
        left: 16%;
        top: 40%;
    }
    .status {
        left: 68%;
    }
    .headings h1 span {
        font-size: 45px;
    }

    .skills-container img{
        height: 70px;
        width: 70px;
        margin: 0 5px;
    }
/*
    .projects-list{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .projects-list div h4 {
        font-size: 15px;
        padding: 10px;
    }

    .projects-list div h4 {
        font-size: 20px;
    }*/

}

@media (max-width: 768px){

    .nav_bar {
        right: 50px;
    }
    .nav_bar li {
        padding: 10px;
        font-weight: bold;
    }
    .shadow-border {
        top: 20%;
        left: 32%;
    }
    .headings {
        top: 5%;
        left: 8%;
    }
    .headings h1 {
        font-size: 40px;
        font-weight: 100;
    }
    .headings h1 span {
        font-size: 42px;
    }
    .home-container p {
        left: 4%;
        top: 40%;
    }
    .status {
        top: 70%;
        left: 72%;
    }
    .status .text{
        font-size: 20px;
    }
    .line{
        width: 20%;
    }
    .social-media a {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
    .skills-container img {
        height: 60px;
        width: 50px;
        margin: 0 5px;
    }

    .shadow-topic{

    }
    .shadow-topic h1 {
        font-size: 80px;
        font-weight: 800;
    }

    .message-section button {
        width: 40%;
        border: 3px solid #FF014F;
        left: 60%;
    }
    .social-media-container div h5 {
        text-align: center;
        font-size: 11px;
    }
}

@media (min-width: 400px)and (max-width: 700px){
}

@media (max-width: 425px){
    .nav_bar {
        right: 10px;
    }
    .nav_bar li {
        padding: 2px;
    }
    .nav_bar a{
        font-size: 12px;
    }
    .shadow-border {
        top: 20%;
        left: 3%;
        width: 100%;
        height: 300px;
    }
    .headings {
        position: absolute;
        top: 1%;
    }
    .headings h1{
        font-size: 32px;
        font-family: Quicksand, sans-serif;
    }
    .headings h1 span{
        font-size: 32px;
        font-family: Quicksand, sans-serif;
        color: #FF014F;
    }
    .home-container {
        left: 10%;
        top: 20%;
        padding: 120px 0;
    }
    .home-image {
        width: 300px;
        height: 320px;
    }
    .shadow-border {
        top: 28%;
        left: 16%;
         width: 300px;
        height: 300px;
    }
    .headings {
        text-align: left;
        padding: 10px;
    }
    .headings h1 {
        font-size: 30px;
    }

    .home-container p {
        left: 30px;
        top: 100%;
        text-align: left;
        font-size: 14px;
    }
    .status {
        left: 40px;
        top: 92%;
    }

    .status .text{
        font-size: 18px;
    }

    .line {
        width: 20%;
    }
    /*.status h3 {
        font-size: 15px;
        white-space: nowrap;
    }

    .status h3 span {
        font-size: 18px;
    }*/
    .shadow-topic h1{
        font-size: 50px;
    }
    h3 {
        font-size: 30px;
        font-weight: 500;
    }
    .about-container {
        justify-content: center;
        height: 60%;
        flex-direction: column;
    }
    .about-image {
        width: 300px;
        height: 300px;
    }
    .about-image img{
        width: 300px;
    }
    .article {
        gap: 0;
    }
    .about-description h2{
        font-weight: 600;
        font-size: 28px;
    }
    .about-details-heading{
        width: 400px;
    }
    .about-container p {
        text-align: center;
        font-size: 12px;
    }
    .journey-container div p {
        font-size: 14px;
    }
    .project-card p{
        font-size: 14px;
    }
    .assigment-layer h4{
        font-size: 1rem;
    }
    .social-media-container {
        width: 100%;
        position: absolute;
        top: 105%;
        left: 0;
        border-radius: 0px;
    }
    .social-media-container div img{
        width: 30px;
        height: 30px;
        font-size: 30px;
    }
    .column img:hover{
        transform: scale(1.3);
    }
    .message-section button {
        height: 8%;
        width: 50%;
        border: 4px solid #FF014F;
        left: 50%;
        font-size: 12px;
    }
    .message-section {
        left: 10%;
        top: 10%;
        width: 80%;
    }
    .skills-container img {
        height: 70px;
        width: 70px;
        margin: 20px 10px;
    }
    .service-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 40px;
    }
}

@media (max-width: 375px){
    .nav_bar a{
        font-size: 10px;
    }
    .shadow-border {
        top: 27%;
        left: 18%;
        width: 76%;
        height: 300px;
    }
    .shadow-topic h1{
        font-size: 50px;
    }
    .skills-container img {
        height: 60px;
        width: 60px;
        margin: 20px 8px;
    }
    .about-description h2{
        font-weight: 600;
        font-size: 24px;
    }
    .about-details-heading{
        width: 300px;
    }
}

@media (max-width: 320px){
    .nav_bar a{
        font-size: 8px;
    }
    .home-image {
        width: 250px;
    }
    .home-container p {
        left: 30px;
        top: 102%;
        text-align: left;
        font-size: 14px;
    }
    .status{
        left: 40px;
        top: 94%;
    }
    .status h3 {
        font-size: 15px;
        white-space: nowrap;
    }
    .status h3 span {
        font-size: 15px;
    }
    .shadow-topic h1{
        font-size: 40px;
    }
    .skills-container img {
        height: 50px;
        width: 60px;
        margin: 10px 5px;
    }
    .face-front, .face-back {
        width: 250px;
    }
    .service-container {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .service-card p {
        font-size: 12px;
    }
    .service-card img{
        width: 70%;
        height: 50%;
    }
    .face-front .content-wrap, .face-back .content-wrap {
        padding: 25px;
    }
    .assignment-container {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}
