*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family:  'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body{
    background: #000712;
    color: white;
}

.header{
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    display: flex;
    padding: 20px 10%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: transparent;
    height: 30px;
}
.nav_bar{
    position: absolute;
    right: 130px;
    top: 10px;
}
.nav_bar li{
    display: inline-block;
    padding: 15px;
    font-weight: bold;
    cursor: pointer;
}
.nav_bar a{
    text-decoration: none;
    color: #FF014F;
    font-size: 18px;
}

section{
    height: 100vh;
}

.home{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10% 0;
}

.home-container{
    position: absolute;
    left: 10%;
    top: 40%;
}
.home-container div h3{
    font-size: 32px;
    font-weight: 700;
    margin: 0px 0px 2px;
}

.home-container div h1{
    font-size:4.5rem;
    font-weight: 700;
    margin: -2px 0px 2px;
}

.social-media{
    padding: 10% 0 ;
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #FF014F;
    text-decoration: none;
    margin: 30px 20px 30px 0;
    font-size: 20px;
}

.social-media a:hover{
    box-shadow: 0 0 10px #FF014F;
}

main:nth-child(2)>section>img{
    height: 100%;
    width: 57%;
    margin: 18px 0 0 0;
    border-style: none;
    position: absolute;
    left: 40%;
    top: 4%;
}

main:nth-child(2)>section>a{
    font-size: 40px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin: auto;
}

.topic-section{
    text-align: center;
}
h3{
    font-size: 45px;
    font-weight: 750;
    margin: 110px 0 0 0;
}
h3 span{
    color: #FF014F;
}

/*----about-----*/
.about{
    position: relative;

}
.about img{
    height: 60%;
    width: 40%;
}
.about-container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 60px 12% 0 12%;
    height: 100%;
}
.about-container p{
    height: 50%;
    width: 60%;
    text-align: justify;
    margin: 50px 0 0 0;
}
.about button {
    height: 50px;
    width: 140px;
    border:4px solid #FF014F;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    position: absolute;
    left: 44%;
    top: 80%;
}
.journey{
    position: relative;
}
.journey-topic{
    position: absolute;
    left: 30px;
    font-weight: 600;
    font-size: 32px;
}
.journey-container{
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 80px 10%;
}
.journey-container div{
    height: calc(100%/4);
    width: 90%;
    border: 2px solid white;
    padding: 2%;
}
.journey-container div h5{
    color: #FF014F;
    font-size: 16px;
}
.journey-container div p{
    font-size: 18px;
}
.skills-topic{
    font-weight: 600;
    font-size: 32px;
    position: absolute;
    left: 30px;
}
.skills-container{
    position: absolute;
    left: 30px;
    top: 90%;
    padding: 40px 10%;
    height: 200px;
    width: 80%;
}
.skills-container img{
    height: 80px;
    width: 80px;
    display: inline-flex;
    flex-direction: column;
    margin: 0 10px;
}
/*services*/
.services{
    padding: 60px 10%;
}
.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
    margin: 40px 20px;
}
.services-list div{
    background: black;
    padding: 30px ;
    font-size: 13px;
    font-weight: 100;
    border-radius: 20px ;
    border: 1px solid white;
    text-align: justify;
}
.services-list div i{
    font-size: 60px;
    margin: 0 0 20px 0;
}
.services-list h4{
    font-size: 24px;
    margin: 20px 0 ;
}
.services-list div:hover{
    background-color: #FF014F;
    color: #ffffff;
}

/*projects*/
.projects{
    padding: 60px 10%;
    width: 100%;
    height: 100vh;
    position: relative;
}
.projects-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px;
    margin: 40px 10px;
}
.projects a{
    right: 100px;
    bottom: 0px;
    margin: auto;
    position: absolute;
    font-size: 40px;
}
.projects-list div{
    position: center;
}
.projects-list div img{
    width: 100%;
    height: 86%;
    border: 5px solid white;
    border-radius: 15%;
}
.projects-list div h4{
    font-size: 20px;
    padding: 10px;
    text-align: center;

}

/*assignment*/

.assignment-container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.assignment-container div{
    border: 2px solid white;
    height: 60%;
    width: 50%;
    position: relative;
    margin: 10px;
}

.assignment-container div img{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

.assignment-container div h4{
    font-size: 20px;
    padding: 10px;
    text-align: center;

}

/*gallery*/
.gallery{
    position: relative;
}

.gallery-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 60px 10%;

}

.column{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    width: 100%;
}

.column img{
    border: 2px solid black;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50%;
    border-radius: 10px;
}

/*contact*/
.contact{
    position: relative;
}
.contact-container{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    position: absolute;
}
.social-media-container{
    height: 60%;
    width: 20%;
    background: #262626;
    border-radius: 25px;
    position: absolute;
    left: 10%;
    top: 10%;
}
.social-media-container div{
    display: flex;
    flex-direction: column;
    height: calc(100%/3);
    align-items: center;
    justify-content: center;
}

.social-media-container div h5{
    text-align: center;
}
.social-media-container div i{
    width: 50px;
    height: 50px;
    font-size: 30px;
}
.message-section{
    position: absolute;
    left: 34%;
    top: 10%;
    width: 50%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    /*margin: 25px 0px 2px 0px;*/
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
}
.message-section button{
    height: 10%;
    width: 30%;
    color: white;
    border: 4px solid #FF014F;
    border-radius: 20px;
    background: transparent;
    position: absolute;
    left: 70%;
}

@media (min-width: 1024px)and (max-width: 1440px){
    .home-container div h1{
        font-size:3.5rem;
    }

    .about img {
        height: 50%;
        width: 40%;
    }

    .skills-container img{
        height: 70px;
        width: 70px;
        margin: 0 5px;
    }

    .projects-list{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .projects-list div h4 {
        font-size: 15px;
        padding: 10px;
    }


    .projects-list div h4 {
        font-size: 20px;
    }

}

@media (min-width: 768px)and (max-width: 1024px) {
    .home-container div h1 {
        font-size: 2.5rem;
    }

    .social-media a {
        width: 30px;
        height: 30px;
        font-size: 15px;
    }
    .skills-container img {
        height: 60px;
        width: 50px;
        margin: 0 5px;
    }
    .services-list {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 10px;
        margin: 10px 20px;
    }
    .services-list div {
        padding: 20px;
        font-size: 13px;
        font-weight: 100;
    }
    .services-list div i {
        font-size: 40px;
        margin: 0 0 20px 0;
    }
    .services-list h4 {
        font-size: 20px;
        margin: 20px 0;
    }
    .projects-list div h4 {
        font-size: 15px;
    }
    .projects-list {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
    .projects a {
        right: 50px;
        bottom: 0px;
        margin: auto;
        position: absolute;
        font-size: 30px;
    }

    .assignment-container div {
        width: 40%;
    }

    .assignment-container div img {
        width: 100%;
    }

    .social-media-container {
        height: 70%;
    }
    .message-section button {
        width: 40%;
        border: 3px solid #FF014F;
        left: 60%;
    }
    .social-media-container div h5 {
        text-align: center;
        font-size: 11px;
    }
}
@media (min-width: 425px) and  (max-width: 768px){
    .nav_bar {
        right: 10px;
    }
    .nav_bar li {
        padding: 5px;
    }
    .nav_bar a{
        font-size: 15px;
    }
    main:nth-child(2)>section>img {
        height: 55%;
        width: 57%;
        margin: 18px 0 0 0;
        border-style: none;
        position: absolute;
        left: 20%;
        top: 10%;
    }
    .home-container div h1 {
        font-size: 2.5rem;
        font-weight: 700;
        margin: -2px 0px 2px;
    }

    .home-container {
        position: absolute;
        left: 10%;
        top: 60%;
    }
    .social-media a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 2px solid #FF014F;
        text-decoration: none;
        margin: 0px 20px 30px 0;
        font-size: 15px;
    }
}