body{
    background-color: blue;
}
div{
    width: 300px;
    aspect-ratio: 1/1;
    background-color: gray;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /*border: 10px white;*/
    /*border-top-color: red;*/
}

div h1{
    width: max-content;
    height: max-content;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: black;
}

/*pseudo element */
div::before{
    content: " ";
    border: 20px solid white;
    border-radius: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-top-color: red;
}

div:hover::before{
    transform: rotate(360deg);
    transition-duration: 2s;
}
